.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-shadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.box-shadow {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: #f0f0f0;
    margin: 20px;
}

.styled-link {
    text-decoration: none;
    color: orange;
}

.fixed-position {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: #f0f0f0;
    padding: 20px;
}
